@using System.Globalization

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>@Model.Title</title>
</head>
<body>


    @model ViewModel


    <div class="text-center">
        <h1>@Model.Greeting</h1>
    </div>
    <div class="row">
        <div class="col">
            <b>@Model.DatesDescription</b>
            @foreach (var date in Model.Dates!)
            {
                <p>@date<br /></p>
            }
        </div>
        <div class="col">
            <b>@Model.NumbersDescription</b>
            @foreach (var number in Model.Numbers!)
            {
                <p>@number<br /></p>
            }
        </div>
        <div class="col">
            <b>@Model.UnitsDescription</b>
            @foreach (var unit in Model.Units!)
            {
                <p>@unit<br /></p>
            }
        </div>
    </div>
</body>
</html>